* {
    padding: 0;
    margin: 0;
}

body {
    margin: 1%;
    height: 100%;
}

.header1 {
    height: 25%;
    background-color: blue;
    width: 100%;
    display: block;
}

.section1 {
    height: 60%;
    background-color: red;
    width: 69%;
   
    display: inline-block;
}

.section2 {
    height: 60%;
    background-color: blueviolet;
    width: 30%;
   
    display: inline-block;
}

.lastfooter {
    height: 15%;
    background-color: green;
    width: 100%;
    display: block;
}

.div1 {
    display: block;
}